*{
    margin: 0;
    padding: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* ------------------------------------------------------------- Header --------------------------------------------------------------- */

#logo{
    width: 7.5vw;
}

header{
    position: sticky;
    top: 0;
    padding-bottom: 3vh;
}

header nav ul{
    display: grid;
    grid-template-columns: repeat(10, 10vw);
    grid-template-rows: repeat(1, 11vh);
    align-items: center;
}

header nav ul li{
    list-style: none;
} 

header nav ul #nav1 :hover, #nav2 :hover, #nav3 :hover, #nav4 :hover, #nav5 :hover, #nav6 :hover, #nav7 :hover{
    padding: 5px;
    background-color: #81335B;
    border-radius: 5px;
}

header nav ul li a:hover{
    font-size: 1.5em;
}

header nav ul #nav1 a, #nav2 a, #nav2Active a, #nav3 a, #nav3Active a, #nav4 a, #nav4Active a, #nav5 a, #nav5Active a, #nav6 a, #nav6Active a, #nav7 a, #nav7Active a{
    color: whitesmoke;
    font-size: 1.3em;
}

#nav1 a, #nav2 a, #nav3 a, #nav4 a, #nav5 a, #nav6 a, #nav7 a{
    text-decoration: none;
}

header nav ul #nav1Active a{
    color: whitesmoke;
    font-size: 1.3em;
}

#navlogo{
    grid-column: 1;
    grid-row: 1;
    place-self: center;
}

#nav1{
    grid-column: 4;
    grid-row: 1;
    place-self: center;
}

#nav1Active{
    grid-column: 4;
    grid-row: 1;
    place-self: center;
    font-style: underline;
    background-color: #81335B;
    padding: 5px;
    border-radius: 5px;
    color: whitesmoke;
}

#nav2{
    grid-column: 5;
    grid-row: 1;
    place-self: center;
}

#nav2Active{
    grid-column: 5;
    grid-row: 1;
    place-self: center;
    font-style: underline;
    background-color: #81335B;
    padding: 5px;
    border-radius: 5px;
    color: whitesmoke;
}

#nav3{
    grid-column: 6;
    grid-row: 1;
    place-self: center;
}

#nav3Active{
    grid-column: 6;
    grid-row: 1;
    place-self: center;
    font-style: underline;
    background-color: #81335B;
    padding: 5px;
    border-radius: 5px;
    color: whitesmoke;
}

#nav4{
    grid-column: 7;
    grid-row: 1;
    place-self: center;
}

#nav4Active{
    grid-column: 7;
    grid-row: 1;
    place-self: center;
    font-style: underline;
    background-color: #81335B;
    padding: 5px;
    border-radius: 5px;
    color: whitesmoke;
}

#nav5{
    grid-column: 8;
    grid-row: 1;
    place-self: center;
}

#nav5Active{
    grid-column: 8;
    grid-row: 1;
    place-self: center;
    font-style: underline;
    background-color: #81335B;
    padding: 5px;
    border-radius: 5px;
    color: whitesmoke;
}

#nav6{
    grid-column: 9;
    grid-row: 1;
    place-self: center;
}

#nav6Active{
    grid-column: 9;
    grid-row: 1;
    place-self: center;
    font-style: underline;
    background-color: #81335B;
    padding: 5px;
    border-radius: 5px;
    color: whitesmoke;
}

#nav7{
    grid-column: 10;
    grid-row: 1;
    place-self: center;
}

#nav7Active{
    grid-column: 10;
    grid-row: 1;
    place-self: center;
    font-style: underline;
    background-color: #81335B;
    padding: 5px;
    border-radius: 5px;
    color: whitesmoke;
}

/* Einde Header */

/* ---------------------------------------------------- Main -------------------------------------------------------------------------- */

.home{
    background-image: url(../images/Sunsetgaming.png);
    background-size: 100% 100%;
    height: 300vh;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

#berg{
    position: fixed;
    width: 110vw;
    height: 60%;
    top: 45vh;
} 

main{
    box-sizing:border-box;
    min-height: 100vh;
}

/* Einde Home Pagina */

/* -------------------------------------------------- Slideshow ------------------------------------------------------------------------ */

.slideshow-container {
    width: 75vw;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 20px;
    padding: 12px 20px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: yellow;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.slideshowimg{
    width: 75vw;
    height: 50vh;
    border-radius: 20px;
}

/* Einde Main Home*/

/* -------------------------------------------------------- Rating Tabel ---------------------------------------------------- */

    .ratingtable > table, th, td{
        border: 2px solid #2D012F;
    }

    th{
        font-size: 30px;
    }

    th, td{
        padding: 2vh;
        border-radius: 5px;
        height: 10vh;
        width: 30vw;
    }

    table{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2vh;
        width: 90vw;
        height: 153vh;
        margin-left: 5vw;
        background-color:#717171;
    }

/* Einde Rating Tabel */

/* ----------------------------------------------------------- Scrollbar -------------------------------------------------------------- */

::-webkit-scrollbar {
    background-color: #2D012F;
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #680B53; 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #680B53;
    border-radius: 10px;
  }

/* Einde Scrollbar */

/* -------------------------------------------------------------- Games ---------------------------------------------------------------- */

.descriptionall{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    color: white;
    margin-top: 5vh;
}

.descriptioninfo{
    display: flex;
    flex-direction: column;
    border: black 2px solid;
    border-radius: 1rem;
    height: 60vh;
    align-items: center;
    width: 30vw;
}

.imgdemo{
    border-radius: 1rem;
    width: 60vw;
}

.imgdescription{
    width: 30vw;
    border-radius: 1rem;
    border: black 2px solid;
}

.informatie{
    font-size: 2rem;
}

.alldemo{
    position: relative;
}

.textinimage{
    position: absolute;
    top: 60vh;
    left: 25vw;
}

/* --------------------------------------------------------------Rating geven ---------------------------------------------------------- */

.ratingmain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ratingh1{
    font-size: 3rem;
}

.ratingall{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: black 2px solid;
    border-radius: 2rem;
    width: 50vw;
    height: 30vh;
    background-color: #f2f2f2;
    margin: 5vh;
}

.ratingleeg{
    background-color: #f2f2f2;
}

.ratinggoed{
    background-color: #8CBEFF;
}

.ratingslecht{
    background-color: #F88888;
}

#geefrating{
    border-radius: 1rem;
    padding-left: 5vw;
    height: 10vw;
    width: 25vw;
}

.ratinggeven{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: gray 2px solid;
    border-radius: 1rem;
    height: 10vh;
    width: 10vw;
    padding: 0 2vh 0 2vh;
    background-color: white;
}

/* Einde rating geven */

/* -------------------------------------------------------------- Footer --------------------------------------------------------------- */

.footer1 {
    background: rgb(43, 0, 30);
    width: 100vw;
    padding-top: 40px;
    color: white;
    position: relative;
    height: 35vh;
    top: 180vh;
    background-image: url(../images/stars.png);
    z-index: 5;
}

.footer2{
    background: rgb(43, 0, 30);
    width: 100vw;
    padding-top: 40px;
    color: white;
    position: relative;
    margin-top: 10vh;
}

.footer3{
     z-index: 4;
     position: fixed;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: white;
}

.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover{
    color: rgb(117, 0, 82);
}

.footer-bottom{
    background-image: url(../images/stars.png);
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom1{
    width: 100vw;
    padding: 20px 0;
    text-align: center;
    background: rgb(32, 0, 23);
    position: relative;
    bottom: 6vh;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

/* ------------------------------------------------------- Background all pages ------------------------------------------------------- */

.background{
    background-image: url(../images/background_ala3.png);
    background-size: 100% 100%;
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

/* Contact pagina */

.contact{
    background-color: #680B53;
    width: 80vw;
    height: 75vh;
    border-radius: 5%;
    position: relative;
    left: 10vw;
    border: solid 5px #2D012F;
}

#contact-kop{
    text-align: center;
    padding-top: 2.5vh;
}

#contact-kop1{
    color: #310034;
    font-size: 2rem;
    padding: 0.5vw;
}

#contact-kop2{
    color: #0000003e;
    font-size: 1.2rem;
}